# 1. 나만의 데이터 만들기

### 1) 시리즈와 데이터프레임 만들기

In [4]:
# 시리즈 만들기
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [5]:
s = pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [6]:
# 문자열을 인덱스로 지정하여 시리즈 생성하기 
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [7]:
# 데이터프레임 만들기
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist','Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37,61]}
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [8]:
# 인덱스를 문자열로 지정하여 데이터 프레임 만들기
# columns 인자를 사용하여 열 순서를 지정함
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist','Statistician'],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1937-10-16'],
        'Age' : [37,61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Occupation','Born','Age','Died']
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [9]:
# 딕셔너리의 데이터 순서를 유지시키기
from collections import OrderedDict
scientists = pd.DataFrame(OrderedDict([
    ('Name' , ['Rosaline Franklin', 'William Gosset']),
    ('Occupation' , ['Chemist','Statistician']),
    ('Born' , ['1920-07-25', '1876-06-13']),
    ('Died' , ['1958-04-16', '1937-10-16']),
    ('Age' , [37,61])
])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 2. 시리즈 다루기 - 기초  
### 1) 데이터프레임에서 시리즈 선택하기

In [10]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist','Statistician'],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1937-10-16'],
        'Age' : [37,61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Occupation','Born','Died','Age'])

In [11]:
# loc 속성에 인덱스를 전달하여 시리즈 선택
first_row = scientists.loc['William Gosset']
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

### 2) index, values 속성과 keys 메서드 사용하기

In [12]:
# index 속성 사용하기
# 시리즈의 인덱스가 들어있다.
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [13]:
# values 속성 사용하기
# 시리즈의 데이터가 들어있다.
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [14]:
# keys 메서드 사용하기
# index 속성과 같은 역할
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [15]:
# index 속성 응용
# index 속성의 첫번째 값 추출
print(first_row.index[0])

Occupation

In [16]:
# keys 메서드 응용
# 인덱스의 첫번째 값 추출
print(first_row.keys()[0])

Occupation

### 3) 시리즈의 mean,min,max,std 메서드 사용하기

In [17]:
ages = scientists['Age']
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

### 시리즈의 메서드 정리  
append : 2개 이상의 시리즈 연결  
describe : 요약 통계량 계산  
drop_duplicates: 중복제거한 시리즈 반환  
equals : 시리즈에 해당 값을 가진 요소가 있는지 확인  
get_values: 시리즈 값 구하기  
isin: 시리즈에 포함된 값이 있는지 확인  
min : 최소값 반환  
max : 최대값 반환  
mean : 산술 평균 반환  
median : 중간값 반환  
replace : 특정 값을 가진 시리즈 값 교체  
sample : 시리즈에서 임의의 값을 반환  
sort_values: 값을 정렬  
to_frame : 시리즈를 데이터프레임으로 변환

# 3. 시리즈 다루기 - 응용

### 1) 시리즈와 불린 추출 사용하기

In [18]:
scientists = pd.read_csv('doit_pandas-master/data/scientists.csv')

In [19]:
# 통계 수치 결과값을 이용해 불린 추출
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [20]:
# 평균 나이보다 나이가 많은 사람의 데이터 추출
print(ages>ages.mean())
print(ages[ages>ages.mean()])

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
1    61
2    90
3    66
7    77
Name: Age, dtype: int64

### 2) 시리즈와 브로드캐스팅  
브로드캐스팅: 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한번에 연산하는 것  
벡터: 시리즈처럼 여러개의 값을 가진 데이터  
스칼라: 단순 크기를 나타내는 데이터

In [21]:
# 벡터와 스칼라로 브로드캐스팅 수행하기
print(ages+ages)
print(ages*ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [22]:
# 벡터에 스칼라 연산
print(ages+100)
print(ages*2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [23]:
# 길이가 서로 다른 벡터 연산 => 같은 인덱스의 값만 계산
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [24]:
# sort_index 사용하여 정렬하기
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [25]:
# 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다
# 다음의 결과가 같다.
print(ages *2)
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 4. 데이터프레임 다루기  
### 1) 불린추출과 브로드캐스팅

In [26]:
# 불린추출하기
# 데이터프레임의 Age열에서 Age열의 평균보다 높은 행만 출력
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

bool 벡터 : 참, 거짓을 담은 리스트  
만약 bool 벡터의 길이가 데이터프레임의 행 길이보다 짧으면 bool 벡터 길이만큼 연산한다.

In [45]:
# loc 속성에 길이가 4인 bool벡터 전달
print(scientists.loc[[True,True,False,True,True,True,True,True]])

                Name        Born        Died  Age          Occupation  \
0  Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1     William Gosset  1876-06-13  1937-10-16   56        Statistician
3        Marie Curie  1867-11-07  1934-07-04   77             Chemist
4      Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5          John Snow  1813-03-15  1858-06-16   45           Physician
6        Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7       Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [28]:
# 브로드캐스팅 하기
# 정수데이터는 2를 곱하고 문자열 데이터는 문자열이 2배가됨
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 5. 시리즈와 데이터프레임의 데이터 처리하기

### 1) 시리즈와 데이터프레임의 데이터 처리하기

In [29]:
# 열의 자료형 확인
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [30]:
# datetime 자료형으로 바꾸기
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [31]:
died_datetime = pd.to_datetime(scientists['Died'],format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [32]:
# 새로운 열로 추가
scientists['born_dt'],scientists['died_dt'] = (born_datetime,died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [33]:
# 시간 계산
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [34]:
scientists['Age']

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [35]:
# 데이터 섞기
import random
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

C:\anaconda\lib\random.py:307: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [36]:
# 열 삭제하기 
scientists_dropped = scientists.drop(['Age'],axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 6. 데이터 저장하고 불러오기

### 1) 피클,csv,tsv 파일로 저장하고 불러오기

In [38]:
# 피클로 저장하기
# 피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법
names = scientists['Name']
names.to_pickle('output/scientists_names_series.pickle')

In [39]:
# 데이터프레임 피클로 저장하기
scientists.to_pickle('output/scientists_df.pickle')

In [42]:
# 피클데이터 읽기
scientist_names_from_pickle = pd.read_pickle('output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [43]:
scientists_from_pickle = pd.read_pickle('output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [44]:
# csv 파일로 저장하기
names.to_csv('output/scientist_names_series.csv')
# tsv 파일로 저장하기
scientists.to_csv('output/scientists_df.tsv',sep='\t')