# 1. 간단한 함수 만들기

- 제곱 함수와 n제곱 함수 만들기

In [1]:
# 제곱함수 만들기
def my_sq(x):
    return x**2
# n제곱함수 만들기
def my_exp(x,n):
    return x**n
print(my_sq(4))
print(my_exp(2,4))

16
16

# 2. apply 메서드 사용하기-기초

In [3]:
import pandas as pd

# 데이터프레임 만들기
df = pd.DataFrame({'a':[10,20,30], 'b': [20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [4]:
# a열 제곱
print(df['a']**2)

0    100
1    400
2    900
Name: a, dtype: int64

In [5]:
# apply 메서드 활용하여 제곱함수 적용
sq = df['a'].apply(my_sq)
print(sq)

In [6]:
# 인자가 두개일 때 -> n제곱 함수 적용
ex = df['a'].apply(my_exp, n=2)
print(ex)
ex = df['a'].apply(my_exp, n=3)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64
0     1000
1     8000
2    27000
Name: a, dtype: int64

In [7]:
# 데이터프레임에 apply 메서드 사용
df = pd.DataFrame({'a': [10,20,30], 'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [8]:
# 출력하는 함수 
def print_me(x):
    print(x)

In [9]:
# axis=0 -> 열 방향, axis=1 -> 행 방향
print(df.apply(print_me,axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [10]:
# 3개의 인자를 받아 평균을 계산하는 함수
def avg_3(x,y,z) :
    return(x+y+z)/3

In [12]:
# 열 단위로 처리할 수 있도록 개선한 함수
def avg_3_apply(col):
    x=col[0]
    y=col[1]
    z=col[2]
    return (x+y+z)/3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [13]:
# for문을 사용한 열단위 처리 함수
def avg_3_apply(col):
    sum=0
    for item in col:
        sum += item
    return sum/df.shape[0]

In [14]:
# for문을 사용한 행단위 처리 함수
def avg_2_apply(row):
    sum=0
    for item in row:
        sum += item
    return sum/df.shape[1]
print(df.apply(avg_2_apply,axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

# 3. apply메서드 사용하기 -고급  
- 데이터프레임의 누락값을 처리한 다음 apply메서드 사용하기

In [17]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [18]:
# 누락값 개수 반환하기
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [19]:
# apply 메서드에 count_missing 함수 전달
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [20]:
# 누락값의 비율을 계산하는 함수
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num/dem

In [22]:
# apply 메서드에 prop_missing 함수 전달
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [23]:
# 데이터의 비율 = 전체비율 - 누락값의 비율
def prop_complete(vec):
    return 1-prop_missing(vec)

In [26]:
# 데이터프레임의 누락값 처리하기 - 행 방향
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())
print(pmis_row.head())
print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [27]:
# 누락값의 개수를 구하여 데이터프레임에 추가
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [28]:
# 누락값이 2개 이상인 데이터 추출
print(titanic.loc[titanic.num_missing >1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch      fare embarked  class  \
330         1       3  female  NaN      2      0   23.2500        Q  Third
306         1       1  female  NaN      0      0  110.8833        C  First
264         0       3  female  NaN      0      0    7.7500        Q  Third
46          0       3    male  NaN      1      0   15.5000        Q  Third
888         0       3  female  NaN      1      2   23.4500        S  Third
507         1       1    male  NaN      0      0   26.5500        S  First
727         1       3  female  NaN      0      0    7.7375        Q  Third
65          1       3    male  NaN      1      1   15.2458        C  Third
878         0       3    male  NaN      0      0    7.8958        S  Third
19          1       3  female  NaN      0      0    7.2250        C  Third

       who  adult_male deck  embark_town alive  alone  num_missing
330  woman       False  NaN   Queenstown   yes  False            2
306  woman       False  NaN    Cherbourg   yes   True            2
264  woman       False  NaN   Queenstown    no   True            2
46     man        True  NaN   Queenstown    no  False            2
888  woman       False  NaN  Southampton    no  False            2
507    man        True  NaN  Southampton   yes   True            2
727  woman       False  NaN   Queenstown   yes   True            2
65     man        True  NaN    Cherbourg   yes  False            2
878    man        True  NaN  Southampton    no   True            2
19   woman       False  NaN    Cherbourg   yes   True            2