## 1. 변수(Variable)의 정의
    - 임시 기억(저장) 공간
    
## 2. 변수의 특징  
    - 묵시적 선언
    - 동적 바인딩
    - immputable(불변성)
    - 수정가능성에 따른 분류
        + 수정 불가능: int, float, str, bool, tuple
        + 수정 가능 : list, dict, set

In [5]:
a = 10
a

a = 11
a

a = "안녕하세요"
a

a = 3.14
print(a)

a= True
print(a)

3.14
True

## 3. Data Type : 자료형
 + 종류
    1. 기본 자료형
        - int
        - float
        - str
        - bool
        
    2. 집합 자료형
        - list
        - tuple
        - dict
        - set

In [27]:
#### 문자열 저장

a = 10
type(a)

a = '10'
type(a)

a = '제 이름은 "홍길동" 이라고 합니다.'
print(a)

a = """안녕하세요
    제 이름은 홍길동입니다.
    만나서 반갑습니다."""
print(a)

제 이름은 "홍길동" 이라고 합니다.
안녕하세요
    제 이름은 홍길동입니다.
    만나서 반갑습니다.

In [28]:
##### 특수 문자(제어 문자) : \문자, \(escape 문자)

a = "이것은 파이썬입니다. \n\n\n 열심히 공부합시다."
print(a)

a = "현재 시간은 \t\t4시 입니다."
print(a)

# \t는 탭 키의 기능이다.
print("\"\\t는 탭키의 기능이다.\"")

이것은 파이썬입니다.


 열심히 공부합시다.
현재 시간은 		4시 입니다.
"\t는 탭키의 기능이다."

In [29]:
# \을 줄바꿈의 용도로 사용

a = "10 + 2 - 3 + 5 \
+ 6 * 7"

print(a)

10 + 2 - 3 + 5 + 6 * 7

In [30]:
#### 문자열을 연결하기

a = "python"
b = " is fun"
c = " and great"
d = a,b,c

print(d)

d = a + b + c
print(d)

('python', ' is fun', ' and great')
python is fun and great

In [31]:
#### 문자열 곱하기(반복)

print(a*3)

pythonpythonpython

In [32]:
#### 문자열의 길이

print(len(a))
print(len(b))
print(len(c))

6
7
10

In [33]:
#### 인덱싱(indexing) : 원하는 문자에 접근할 수 있는 방법 제공

a ="Life is too short. You need python"

print(a[3])
print(a[10])

print("---------------------")

print(len(a))
print(a[len(a)-1])

print("----------------------")

print(a[-1])

e
o
---------------------
34
n
----------------------
n

In [34]:
#### 슬라이싱(slicing) -> [시작위치 : 끝위치]

print(a[0:6])
print(a[:6])
print(a[6:])
print(a[19:-7])

Life i
Life i
s too short. You need python
You need

In [35]:
#### [시작위치:끝위치:STEP]

print(a[::1])
print(a[::2])

Life is too short. You need python
Lf stosot o edpto

In [36]:
#### 수정 불가

a = 'pithon'
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [37]:
#### 문자열 관련 함수

# count()
str1 = "홍길동, 홍경래, 홍장군, 임경업, 신돌석"

print(len(str1))
print(str1.count("홍"))

23
3

### p112  연습문제

In [39]:
# 1. 평균점수 구하기
국어 = 80
영어 = 75
수학 = 55
평균 = (국어+영어+수학)/3
print(평균)

70.0

In [46]:
# 2. 홀수인지 짝수인지
a = 13
if a%2 == 0 :
    print(a,"은 짝수")
else:
    print(a,"은 홀수")

13 은 홀수

In [48]:
# 3. 주민등록번호 앞부분 뒷부분 나누어 출력
pin = "881120-1068234"
yymmdd = pin[:6]
num = pin[8:]
print(yymmdd)
print(num)

881120
068234

In [51]:
# 4. 주민번호 뒷자리 맨 첫번째 숫자 출력
pin = "881120-1068234"
print(pin[7])

1

In [55]:
# 5. replace 함수 이용하여 문자열 바꾸기
a = "a:b:c:d"
b = a.replace(":","#",3)
print(b)

a#b#c#d

In [60]:
# 6. [1,3,5,2,4] -> [5,4,3,2,1]
a = [1,3,5,2,4]
a.sort()
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [19]:
# join()
str1 = "abcdefg"
print(",".join(str1))

print("----------------------------------------------------")

str1 = "홍길동, 홍경래, 홍장군, 임경업, 신돌석"
print(str1.split(","))

print("----------------------------------------------------")

# find(), index()
print(str1.find("길"), str1.find("돌"), str1.find("별"))
print(str1.index("길"),str1.index("돌"))

# lstrip(),rstrip(),strip()
str1 = "               python"
print(str1)
print(str1.lstrip())

str1 = "python.,"
print(str1.rstrip(".,"))

# replace(), [maketrans(), translate()]
str1 = "Hello, World!"
print(str1.replace("World","Python"))

str1 = "일이삼사오육칠팔구"
print(str1.replace("일이삼사오육칠팔구","123456789"))
print(str1.replace("일삼오","135")) # 일삼오라는 문자열이 없어서 불가능함

print(str1.translate(str1.maketrans("일삼오","135")))

a,b,c,d,e,f,g
----------------------------------------------------
['홍길동', ' 홍경래', ' 홍장군', ' 임경업', ' 신돌석']
----------------------------------------------------
1 21 -1
1 21
               python
python
python
Hello, Python!
123456789
일이삼사오육칠팔구
1이3사5육칠팔구

In [38]:
#### 문자열 포맷팅 : % , format()

## %를 이용하는 방법
print("현재 온도는 18도입니다.")
print("현재 온도는 %d도입니다. 오늘의 날씨는 %s입니다." %(18,"맑음"))

print("%s의 결과: %d %c %d = %f 입니다."%("나눗셈",3,"/",5,(3/5)))
print("%5s의 결과: %d %c %d = %f 입니다."%("나눗셈",3,"/",5,(3/5)))
print("%-5s의 결과: %d %c %d = %0.2f 입니다."%("나눗셈",3,"/",5,(3/5)))

print("----------------------------------------------------------------------")

print("{}의 결과: {} {} {} = {} 입니다.".format("나눗셈",3,"/",5,(3/5)))
print("{3}의 결과: {0} {1} {2} = {4} 입니다.".format(3,"/",5,"나눗셈",(3/5)))
print("{title}의 결과: {num1} {op} {num2} = {result} 입니다.".format(num1=3,op="/",num2=5,title="나눗셈",result=(3/5)))
print("{3:10}의 결과: {0} {1} {2} = {4} 입니다.".format(3,"/",5,"나눗셈",(3/5)))
print("{3:>10}의 결과: {0} {1} {2} = {4} 입니다.".format(3,"/",5,"나눗셈",(3/5)))
print("{3:*>10}의 결과: {0} {1} {2} = {4:0.2f} 입니다.".format(3,"/",5,"나눗셈",(3/5)))

현재 온도는 18도입니다.
현재 온도는 18도입니다. 오늘의 날씨는 맑음입니다.
나눗셈의 결과: 3 / 5 = 0.600000 입니다.
  나눗셈의 결과: 3 / 5 = 0.600000 입니다.
나눗셈  의 결과: 3 / 5 = 0.60 입니다.
----------------------------------------------------------------------
나눗셈의 결과: 3 / 5 = 0.6 입니다.
나눗셈의 결과: 3 / 5 = 0.6 입니다.
나눗셈의 결과: 3 / 5 = 0.6 입니다.
나눗셈       의 결과: 3 / 5 = 0.6 입니다.
       나눗셈의 결과: 3 / 5 = 0.6 입니다.
*******나눗셈의 결과: 3 / 5 = 0.60 입니다.

---  
#### (2) bool

In [46]:
a = False
print(a)
print(type(a))

print("-------------------------------------------------")

print(10)
print(bool(10),bool(3.14),bool(-2),bool(0))
print(bool("가"),bool("가나다"),bool(" "),bool(""),bool(),bool(None))

a = None
print(bool(a))

False
<class 'bool'>
-------------------------------------------------
10
True True True False
True True True False False False
False

---
#### (3) list

+ [] 사용
+ 임의의 객체를 순차적으로 저장하는 집합적 자료형(Sequence data)
+ 인덱스 사용
+ mutable

In [52]:
# a = 10
# b = 11
# c = 12
a,b,c = 10,11,12

d = [10,11,12]
print(type(a),type(d))
print(d[0],d[1],d[2])

e = ["james", 178, 3.14, True]
print(e[1])

<class 'int'> <class 'list'>
10 11 12
178

In [55]:
#### indexing

a = [1,2,3,"가",3.14,['a','b','c']]
print(a)
print(a[5])
print(a[5][1])
print(a[-1][-3])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
['a', 'b', 'c']
b
a

In [62]:
#### 복사 (얕은 복사, 깊은 복사)

# 얕은 복사 -> 주소 복사 
a = [1,2,3,4,5]

b = a

b[0] = 10

print(b)
print(a)

print("------------------------------------------------")

# 깊은 복사 -> 데이터를 복사
a = [1,2,3,4,5]

b = a[0:5]

b[0] = 10

print(b)
print(a)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
------------------------------------------------
[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [63]:
#### list의 생성

a = []
a = list()
print(type(a))

<class 'list'>

In [67]:
#### 각 자료형 함수(참고)

a = '10'
print(int(a),type(int(a)))
print(str(a),type(str(a)))
print(float(a), type(float(a)))
print(bool(a),type(bool(a)))

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>
True <class 'bool'>

In [75]:
#### list 초기화
a = [1,2,3]
print(a)

a = list([1,2,3])
print(a)

a = list(range(0,10)) # range(10),range(0,10,1)
print(a)

a = list(range(5,12))
print(a)

a = list(range(-4,12,1))
print(a)

a = list(range(10,0,-1))
print(a)

[1, 2, 3]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [85]:
#### 연산 기능

a = [1.2,3]
b = [4,5,6]

print(a+b)
print(a*3)
print(str(a[1]) + "hi~~")

[1.2, 3, 4, 5, 6]
[1.2, 3, 1.2, 3, 1.2, 3]
3hi~~
3 hi~~

In [93]:
#### 추가하기: insert(), append(), extend()

a = [1,2,3]
print(a)

# 0번째 위치에 100이라는 값을 추가
a.insert(0,100)
print(a)

# 맨 뒤에 추가하기
a.append(4)
print(a)

# append를 확장한 함수 . 맨 뒤에 추가하기. 반드시 list형식으로 추가!!!!
a.extend([5])
print(a)

a.append([6,7,8])
print(a)

a.extend([9,10,11])
print(a)

[1, 2, 3]
[100, 1, 2, 3]
[100, 1, 2, 3, 4]
[100, 1, 2, 3, 4, 5]
[100, 1, 2, 3, 4, 5, [6, 7, 8]]
[100, 1, 2, 3, 4, 5, [6, 7, 8], 9, 10, 11]

### p113 연습문제

In [98]:
# 7. 리스트를 문자열로 만들어 출력
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

In [99]:
# 12. 변수 값 변경
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

In [105]:
#### 정렬

# 원본이 바뀜
a = [1, 4, 3, 2]
a.sort()
print(a)

# 복사해서 정렬
a = [1, 4, 3, 2]
print(sorted(a))
print(a)

# 복사본의 주소가 새 주소가 됨. 원본주소는 가비지 데이터가 됨
a = sorted(a)
print(a)

a.reverse()
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [113]:
#### 제거

# 범위를 지정해서 제거 
a = [1, 2, 3, 1, 2, 3]
a[1:3] = []
print(a)

# 값을 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

# 위치를 찾아서 삭제
del a[4]
print(a)

# 전체 데이터 삭제
a = [1, 2, 3, 1, 2, 3]
a[:] = []
print(a)

print("-----------------------------------")

# stack (LIFO구조 last in first out)
a = [1, 2, 3]
b = a.pop()
print(b)
print(a)

b = a.pop()
print(b)
print(a)

[1, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 1, 2]
[]
-----------------------------------
3
[1, 2]
2
[1]

In [115]:
#### 검색

a = [1, 2, 3, 4, 5]
print(a. index(4))

print(2 in a)
print(7 in a)

3
True
False

---

#### 4. tuple

+ () 사용
+ immutable

In [117]:
a = ('a','b','c','d')
print(a)
print(type(a))

print(len(a))
print(a.count('c'))
print(a.index('b'))

('a', 'b', 'c', 'd')
<class 'tuple'>
4
1
1

In [123]:
# immutable (수정할 수 없다)
# a[1] = 10

# 리스트로 바꾸면 수정할 수 있다.
b = list(a)
b[1] = 10
print(b)

c = tuple(b)
print(c)

['a', 10, 'c', 'd']
('a', 10, 'c', 'd')

In [124]:
#### packing과 unpacking

a = 10,20,30
print(a)

# a1 = a[0]
# a2 = a[1]
# a3 = a[2]

a1,a2,a3 = a
print(a1, a2, a3)

(10, 20, 30)
10 20 30

---

#### (5) dict (dictionary)

+ 순서가 없다.
+ {키:값, 키:값, 키:값, ...}
+ 키를 이용해서 값을 조회
+ 인덱스를 사용할수는 없음

In [125]:
a = {"name":"홍길동", "tel":"111-1111", "age":25}
print(a)
print(type(a))

{'name': '홍길동', 'tel': '111-1111', 'age': 25}
<class 'dict'>

In [126]:
print(a["name"], a["tel"], a["age"])

홍길동 111-1111 25

In [127]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 25)])

In [134]:
b = a.items()
print(b)
print(type(b))

# 자동화가 필요할땐 리스트로 바꾸어 쓴다
c = list(a.items())
print(c)
print(type(c))
print(c[0], c[0][0])

dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 25)])
<class 'dict_items'>
[('name', '홍길동'), ('tel', '111-1111'), ('age', 25)]
<class 'list'>
('name', '홍길동') name

In [135]:
#### 수정
 
a['name'] = '임꺽정'
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25}

In [136]:
#### 추가

a['hobby'] = ['낚시', '여행', '독서']
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25, 'hobby': ['낚시', '여행', '독서']}

In [137]:
#### 삭제

a.clear()
print(a)

{}

In [143]:
#### 데이터 가져오기 : get("키",default)

a = {"name":"홍길동", "tel":"111-1111", "age":25}

print(a["name"])
print(a.get("name"))

# print(a["hobby"])

# 없는 데이터도 가져 올 수 있음
print(a.get("hobby", "독서"))
print(a)

홍길동
홍길동
독서
{'name': '홍길동', 'tel': '111-1111', 'age': 25}

---
#### (6)set

+ {} 사용
+ 순서가 없다 
+ 중복 불가능

In [144]:
a = {1, 2, 3, 4, 1, 2, 3, 4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [145]:
# print(a[0])
b = list(a)
print(b[0])

1

In [152]:
#### 집합 연산

s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

# 합집합
print(s1.union(s2))

# 교집합
print(s1.intersection(s2))

# 차집합
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [160]:
#### CRUD

# 여러개 추가
s1.update({7,8})
print(s1)

# 한 개 추가
s1.add(9)
print(s1)

# 삭제 (하나씩만 삭제 가능)
s1.remove(9)
print(s1)

s1.discard(8)
print(s1)

# 없는 데이터 삭제 
# s1.remove(0) # 에러
s1.discard(0) #에러 X

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 9, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

In [161]:
#### 중복된 데이터를 제거하고 재구성

data = [1, 2, 3, 4, 4, 5, 2]

data2 = set(data)
print(data2)

data3 = list(data2)
print(data3)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

---

## 4. Operator  

    1) 산술연산자
        * / + - %(나머지) //(몫) **(자승)
    2) 비교 연산자
        > < >= <= == !=
    3) 논리 연산자
        and or not
    4) 대입 연산자
        = += -= /= *=  . . .
        
====================================================================

    5) 포함 여부 연산자
        in          not in
    
    6) 비트 연산자
        &(and)   |(or)  ^(xor = exclusive or -> 같으면 F)

In [163]:
#### 대입연산자

a = 1
a = 3
a = 5

print(a)

b = 1
b += 3
b += 5

print(b)

5
9

In [168]:
##### 비트 연산자

a = 7
b = 3

# and 양쪽에는 불린 값이 와야함
result = a>3 and b<5
print(result)

result = a>3 & b<5
print(result)

result = a & b
print(result)

True
True
3

In [171]:
data = 648723
key = 38976542

encode = data ^ key
print("암호화: ",encode)

print("------------------------------------------")

decode = encode ^ key
print("복호화: ",decode)

암호화:  39541261
------------------------------------------
복호화:  648723

#### 연습문제 p 114

In [173]:
# 8. 튜플에 값 추가
a = (1,2,3)
a = a + (4,) # 새로운 튜플 (4, )가 합쳐짐
print(a)

(1, 2, 3, 4)

In [175]:
# 9.오류가 발생하는 경우
a = dict()
a

a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python' # 오류 발생 -> 딕셔너리 키로 변하는 값(리스트)를 사용할 수 없음
a[250] = 'python'

TypeError: unhashable type: 'list'

In [178]:
# 10. 딕셔너리 값 추출
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B') 
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [179]:
# 중복 제거
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]