# 1. 파이썬과 MySQL 연동

- 파이썬과 MYSQL을 연결해주는 모듈 : mysqlclient, PyMySQL
    - pip install mysqlclient
    - pip install PyMySQL

In [15]:
import MySQLdb

conn = MySQLdb.connet(host="127.0.0.1",user="root",passwd="1111",database="testdb")
print(conn)
conn.close()

ModuleNotFoundError: No module named 'MySQLdb'

In [ ]:
import pymysql

## (1) SELECT

In [2]:
conn = MySQLdb.connet(**config)

sql = "select * from emp limit 5"

cur = conn.cursor()
cur.execute(sql)

for a,b,c,d,e,f,g,h in cur:
    print(a,b,c,d,e,f,g,h)

NameError: name 'MySQLdb' is not defined

## (2) INSERT

In [3]:
conn = MySQLdb.connet(**config)

sql = """create table if not exists tbltest(
        empno int,
        ename varchar(10),
        sal int,
        job varchar(10)
)"""

cur = conn.cursor()
cur.execute(sql)

sql = "insert into tbltest(empno,ename,sal) values(1,'scott',5000)"
cur.execute(sql)
conn.commit()
conn.close()

NameError: name 'MySQLdb' is not defined

In [4]:
empno = 2
ename = "miller"
sal = 1300

conn = MySQLdb.connet(**config)
cur = conn.cursor()

sql = "insert into tbltest(empno,ename,sal) vlaues(" \
    + str(empno) + ", '" + ename + "', " + str(sal) + ")"

cur.execute(sql)
conn.commit()
conn.close()

NameError: name 'MySQLdb' is not defined

In [5]:
empno = 3
ename = "tom"
sal = 2000

conn = MySQLdb.connet(**config)
cur = conn.cursor()

sql = "insert into tbltest(empno,ename,sal) values(%s, %s, %s)"
sql_data = (str(empno),ename,str(sal))

cur.execute(sql, sql_data)

conn.commit()
conn.close()

NameError: name 'MySQLdb' is not defined

In [6]:
empno = 4
ename = "jerry"
sal = 2000

try:
    conn = MySQLdb.connet(**config)
    cur = conn.cursor()

    sql = "insert into tbltest(empno,ename,sal) values(%s, %s, %s)"
    sql_data = (str(empno),ename,str(sal))

    cur.execute(sql, sql_data)

    conn.commit()
except Exception as e:
    print("error : ",e)
finally:
    conn.close()

error :  name 'MySQLdb' is not defined

NameError: name 'conn' is not defined

In [7]:
##### 데이터 여러개 입력하기

conn = MySQLdb.connet(**config)
cur = conn.cursor()

for i in range(10):
    sql = "insert into tbltest(empno,ename,sal) values(5,'jane',10000)"
    cur.execute(sql)
    conn.commit()
    
conn.close()

NameError: name 'MySQLdb' is not defined

## (3) Cursor

#### 1) fetchall(), fetchmany(),fetchone()
    - default는 fetchall()

In [8]:
try: 
    conn = MySQLdb.connet(**config)
    cur = conn.cursor()
    
    cur.execute("select * from tbltest")
    
    print(cur.fetchone())
    
finally:
    conn.close()

NameError: name 'conn' is not defined

#### 2) DictCursor
    
    - 필드명을 인덱스 대신 키로 사용

In [9]:
try:
    conn = MySQLdb.connet(**config)
    cur = conn.cursor()
   
    cur.execute("select * from tbltest")
    
    for i in cur.fetchall():
        # print(i[0],i[1],i[2])
        print(i["empno"],i["ename"],i["sal"])
    
finally:
    conn.close()

NameError: name 'conn' is not defined

## 2. 응용 예제

### (1) CSV파일을 DB에 저장

In [ ]:
"""
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name varchar(20),
    
    )"""

In [13]:
import csv

file = csv.reader(open("data/input.csv"))
# print(next(file)) 한 줄 읽어오기
next(file) # 한 줄 건너뛰기 (컬럼제목)

try: 
    conn = MySQLdb.connet(**config)
    cur = conn.cursor()
    
    cur. execute("delete from suppliers")
    conn.commit()
    
    for row in file:
        # print(row)
        cur.execute("insert into suppliers values(%s %s %s %s %s)",row)
        
        conn.commit()
finally:
    conn.close()

NameError: name 'conn' is not defined

### (2) DB에서 가져온 데이터를 파일로 저장

In [16]:
try:
    conn = MySQLdb.connet(**config)
    cur = conn.cursor()
    
    # for i in cur:
    #      print(i)
    
    file = csv.writer(open("data/output.csv","w"),delimiter=",")
    
    header = ["Supplier Name","Invoice Number","Part Number","Cost","Purchase Date"]
    file.writerow(header) # 한줄씩 넣기
    
    
    for row in cur:
        file.writerow(row)
    
finally:
    conn.close()

NameError: name 'conn' is not defined

## 2. 파이썬과 SQLite

#### (1) 로컬로 사용할 수 있는 DBMS

+ Access
+ SQLite
+ Microsoft SQL server Compact Edition
+ Firebird Embeded Server
+ H2
+ HSQL
+ Apache Derby
...

#### (2) 특징

+ 파일 기반의 DBMS, 저메모리, 빠른 처리 속도
+ 오픈 소스
+ 별도의 DB서버 없이 쉽고 편리하게 사용할 수 있는 Embeded SQL DB엔진
+ 안드로이드, 아이폰 등의 스마트폰에 내장된 DB
+ 파이썬에 내장
+ 표준 SQL 지원

---

+ 컬럼을 삭제하거나 변경하는 것 등이 제한
+ Left Outer Join만 지원
+ 읽기 전용 뷰만 제공


#### (3) 공식 사이트

+ http://sglite.org

#### (4) 클라이언트 툴

+ http://www.sqliteexpert.com

In [1]:
import sqlite3

In [2]:
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.35.4

In [3]:
conn = sqlite3.connect("data/sqlitetest.db")
print(conn) # db와 연결 성공!

<sqlite3.Connection object at 0x000002F571C88300>

In [5]:
##### select

conn = sqlite3.connect("data/sqlitetest.db")
cur = conn.cursor()

cur.execute("select * from tblbook")
for row in cur:
    print(row)
    
conn.close()

('최주현', '하늘과 땅')
('최주현', '바다')
('유은정', '바다')
('박성우', '문')
('최주현', '문')
('박성우', '천국')
('최지은', '천국')
('최주현', '천국')
('박성우', '고슴도치')
('서금동', '나')

In [6]:
conn = sqlite3.connect("data/sqlitetest.db")
cur = conn.cursor()

cur.execute("select * from tblmember")
for row in cur:
    print(row)
    
conn.close()

(1, '홍길동', '2020-12-25')
(2, '임꺽정', '2022-01-05')

In [9]:
##### 자동으로 DB생성하고 테이블 생성

conn = sqlite3.connect("data/auto.db")
cur = conn.cursor()

sql = """
    create table if not exists tblmember(
        id int,
        name varchar(10)
    )
"""
cur.execute(sql)
conn.commit()

cur.execute("insert into tblmember values(1, '홍길동')")
conn.commit()

cur.execute("select * from tblmember")
for row in cur:
    print(row)
    
conn.close()

(1, '0홍길동')
(1, '홍길동')

In [15]:
##### csv파일을 읽어들여서 DB에 저장

conn = sqlite3.connect("data/auto.db")
cur = conn.cursor()

# 테이블 조회
tables = cur.execute("select * from sqlite_master where type='table'")
for i in tables:
    print(i[1])

import csv
file = csv.reader(open("data/input.csv", "r"), delimiter=",")
#for i in file:
#    print(i)

next(file)

for row in file:
    cur.execute("insert into tblInput values(?, ?, ?, ?, ?)", row)
    
conn.commit()
conn.close()

tblmember
tblBook
tblInput

In [8]:
#### Memory DB #####

conn = sqlite3.connect(":memory:")
# print(conn)
cur = conn.cursor()

cur.execute("create table phonebook(name varchar(10), phonenumber text);")
cur.execute("insert into phonebook values(?,?);", ("tom","010-111-1111"))

cur.execute("select * from phonebook")

for i in cur:
    print(i)

('tom', '010-111-1111')

In [9]:
# Memory DB이기 때문에 날라감.
# 고로, 반드시 파일로 저장해주어야함.
f = open("data/dump.sql", "w")
# conn.iterdump() => 데이터를 한줄씩 읽으면서 파일을 저장하겠다는 의미.
for i in conn.iterdump():
    f.write("{}\n".format(i))
    
f.close()
conn.close()

In [10]:
conn = sqlite3.connect("data/auto.db")
cur = conn.cursor()

f = open("data/dump.sql","r")
script = f.read()
print(script)

cur.executescript(script)
conn.close()

BEGIN TRANSACTION;
CREATE TABLE phonebook(name varchar(10), phonenumber text);
INSERT INTO "phonebook" VALUES('tom','010-111-1111');
COMMIT;

In [ ]:
# conn = sqlite3.connect("data/auto.db")
conn =